<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gyansangrah.employeeleavemanager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    
    <name>Employee Leave Manager</name>
    <description>Leave management app for employees.</description>
    <author email="help@gyansangrah.com" href="https://gyansangrah.com">
        Developer
    </author>
    
    <content src="index.html" />
    
    <access origin="*" />
    
    <allow-navigation href="*" />
    <allow-navigation href="https://*.gstatic.com/*" />
    <allow-navigation href="https://*.googleapis.com/*" />
    <allow-navigation href="https://*.firebaseio.com/*" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="market:*" />
    
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>

        <preference name="AndroidXEnabled" value="true" />
        
        </platform>
    
    <plugin name="cordova-plugin-androidx-adapter" spec="^1.1.3" />
    <plugin name="cordova-plugin-file" spec="^6.0.2" />
    <plugin name="cordova-plugin-file-opener2" spec="^3.0.5" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />

</widget>
