name: Build Android APK

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install Cordova
        run: npm install -g cordova

      - name: Install Dependencies
        run: npm install

      - name: Add Android Platform
        run: cordova platform add android

      - name: Build Android APK (Debug)
        run: cordova build android --debug

      - name: Upload APK
        uses: actions/upload-artifact@v3
        with:
          name: EmployeeLeaveManager-APK
          path: platforms/android/app/build/outputs/apk/debug/app-debug.apk
